h1, h2, h3, h4, h5, h6 {
   font-family: 'Corben', Georgia, Times, serif;
}
p, div {
   font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

.btn:hover {
  background-color: green;
}

.menu:hover {
  background-color: green;
  color: red
}

body { 
        background: 
radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
background-color: slategray;
background-size:75px 100px;
}

